
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//colors
$color_shark_approx: #252328;
$bluffhillRed: #b50000;
$color_dove_gray_approx: #6f6d72;
$color_alabaster_approx: #fbfbfb;
$color_sunset_orange_approx: #ff4d4d;
$color_ebb_approx: #ebe7e7;
$color_cararra_approx: #ebebeb;
$white: #fff;
$color_celeste_approx: #cdcdcd;
$black_7_5: rgba(0, 0, 0, .075);
$color_mine_shaft_approx: #343031;
$color_kournikova_approx: #fde173;
$color_silver_approx: #bebebe;
$color_concrete_approx: rgb(243, 243, 243);
$color_bright_gray_approx: #3d404e;
$color_waterloo__approx: #7f83a2;
$color_alto_approx: #dadada;
$alto: #dbdbdb;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #ededed;
$color_tundora_11_approx: rgba(68, 68, 68, 0.11);
$color_wild_sand_approx: #f5f5f5;
$color_cinnabar_approx: #e93c3c;
$color_abbey_approx: #4e4b53;
$color_apple_approx: #2abc2d;
$color_forest_green_approx: #2da32f;
$color_coral_red_approx: #f04040;
$color_medium_purple_approx: #9047fb;
$color_blue_chalk_approx: #f2e9ff;
$color_froly_approx: #ff7b7b;
$color_fair_pink_approx: #ffeded;
$black: #000000;
$color_carnation_approx: #ff515b;
$color_cerulean_approx: #0db2f0;
$color_seashell_peach_approx: #fff;
$color_black_haze_approx: #f7f7f7;
$color_pink_swan_approx: #bbb9be;
$black_80: rgba(0, 0, 0, 0.8);
$seashell: #f1f1f1;
$color_mountain_mist_15_approx: rgba(150, 150, 150, 0.15);
$color_boulder_20_approx: rgba(120, 120, 120, 0.2);
$black_40: rgba(0, 0, 0, 0.4);
$gray: #808080;
$black_8: rgba(0, 0, 0, .08);
$color_green_vogue_60_approx: rgba(9, 47, 87, 0.6);
$color_gravel_approx: #46484b;
$color_strikemaster_approx: #8e517d;
$color_tuna_approx: #39363d;
$color_concord_approx: #7f7c7c;
$color_azure_approx: #3b5898;
$color_dodger_blue_approx: #1ea2f2;
$black_5: rgba(0, 0, 0, .05);
$color_sun_approx: #ffa912;
$color_mercury_approx: #e6e6ea;
$color_mine_shaft_70_approx: rgba(47, 46, 48, 0.7);
$color_pink_approx: #f8cccc;
$color_storm_dust_approx: #626262;
$color_scarpa_flow_approx: #59575d;
$color_limed_spruce_5_approx: rgba(61, 70, 79, .05);
$color_limed_spruce_15_approx: rgba(61, 70, 79, .15);
$color_french_lilac_approx: #e1caf1;
$color_gossip_approx: #cfedad;
$color_egg_white_approx: #fff4bf;
$color_romantic_approx: #ffd5bb;
$color_pelorous_approx: #40b9ba;
$color_red_orange_approx: #ff3535;
$color_romance_approx: #fdfdfd;
$color_quill_gray_approx: #d2d2d2;
$color_athens_gray_approx: #ecf0f1;
$color_submarine_approx: #bdc3c7;
$color_tapa_approx: #777;

//fonts
$font_0: Rubik;
$font_1: sans-serif;
$font_2: Poppins;
$font_3: Font Awesome\ 5 Free;

//urls
$url_0: url(/images/down-arrow.png);
$url_1: url(/images/signup-bg-img.jpg);
$url_2: url(/images/couple-bg-img.jpg);
$url_3: url(/images/hero-banner.jpg);/* $url_3: url(/images/hero-image.jpg);*/
$url_4: url(/images/page-header.jpg);
$url_5: url(/images/venue-pageheader.jpg);
$url_6: url(/images/about-pageheader.jpg);
$url_7: url(/images/hero-image-2.jpg);
$url_8: url(/images/cta-img.jpg);
$url_9: url(/images/venue-single.jpg);
$url_10: url(/images/real-weddings-single.jpg);
$url_11: url(/images/kb-pageheader.jpg);
$url_12: url(/images/tt.jpg);

